#cconsent-bar,
#cconsent-bar * {
    box-sizing: border-box;
}

#cconsent-bar {
    background-color: var(--barColor);
    color: var(--barTextColor);
    text-align: right;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
    transition-delay: 0.3s;
    display: flex;

    &.ccb--hidden {
        transform: translateY(100%);
    }

    .ccb__wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 10px;
        @media (max-width: 600px) {
            padding: 30px 10px;
        }
    }

    .ccb__left {
        margin-bottom: 25px;

        .cc-text-container {
            display: flex;
            align-items: center;
            position: relative;
            text-align: left;
            overflow: auto;

            @media (max-width: 600px) {
                margin: 0 10px;
                line-height: 18px;
            }

            .cc-image-container {
                display: flex;
                align-items: center;
                width: 175px;
                height: auto;

                @media (max-width: 600px) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    min-width: 60px;
                    height: 60px;
                    padding: 0;
                }

                .cc-image {
                    width: 175px;
                    height: auto;

                    @media (max-width: 600px) {
                        width: 60px;
                    }
                }
            }

            .cc-text {
                padding-left: 20px;

                @media (max-width: 600px) {
                    padding-left: 0;
                }

                .bar-text-heading {
                    color: var(--barTextColor);
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 24px;

                    @media (max-width: 600px) {
                        display: block;
                        font-size: 16px;
                    }
                }

                .bar-text {
                    color: var(--barTextColor);
                    margin-top: 8px;
                    line-height: 21px;
                }
            }
        }

        &-with-image {
            .cc-text-container {
                .cc-text {
                    .bar-text-heading {
                        @media (max-width: 600px) {
                            margin-left: 80px;
                            min-height: 80px;
                        }
                    }
                }
            }
        }
    }

    .ccb__right {
        width: 100%;
        background-color: var(--barColor);
        white-space: nowrap;

        .ccb__button {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: var(--barTextColor);

            @media (max-width: 600px) {
                flex-wrap: wrap;
            }
        }
    }

    a {
        text-decoration: underline;
        color: var(--barTextColor);

        &.ccb__edit {
            margin-left: 50px;
            font-size: 14px;
            font-weight: bold;
            transition: all .5s ease-out;

            @media (max-width: 600px) {
                display: block;
                margin: 0 auto;
            }
        }
    }

    a:hover, button:hover {
        cursor: pointer;
    }

    button.consent-given {
        padding: 8px 90px;
        font-size: 18px;
        line-height: 26px;
        border: none;
        border-radius: 5px;
        color: var(--barPrimaryButtonTextColor);
        background-color: var(--barPrimaryButtonColor);
        transition: background-color .5s ease-out;

        @media (max-width: 600px) {
            width: 100%;
            margin-bottom: 20px;
        }

        &:hover {
            background-color: var(--barPrimaryButtonHoverColor);
        }
    }

    .ccb__close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 20px;
        font-weight: 600;
        cursor: pointer;
        font-size: 26px;
        margin: auto 0 auto 15px;
    }
}

#cconsent-modal {
    display: none;
    font-size: 14px;
    line-height: 18px;
    color: #666;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: sans-serif;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    align-items: center;
    justify-content: center;

    @media (max-width: 600px) {
        height: 100%;
    }

    h2, h3 {
        color: #333;
        margin-top: 0;
    }

    &.ccm--visible {
        display: flex;
    }

    .ccm__content {
        max-width: 600px;
        min-height: 500px;
        max-height: 600px;
        overflow-y: auto;
        background-color: #efefef;

        @media (max-width: 600px) {
            max-width: 100vw;
            height: 100%;
            max-height: initial;
        }

        > .ccm__content__heading {
            border-bottom: 1px solid #d8d8d8;
            padding: 35px 35px 20px;
            background-color: #efefef;
            position: relative;

            h2 {
                font-size: 21px;
                font-weight: 600;
                color: #333;
                margin: 0 0 10px;
            }

            p {
                margin: 0;

                & + p {
                    margin-top: 10px;
                }
            }

            .ccm__cheading__close {
                font-weight: 600;
                color: #888;
                cursor: pointer;
                font-size: 26px;
                position: absolute;
                right: 15px;
                top: 15px;
            }
        }

        > .ccm__content__body {
            background-color: #fff;

            .ccm__tabgroup {
                margin: 0;
                border-bottom: 1px solid #d8d8d8;

                .ccm__tab-head {
                    &::before {
                        position: absolute;
                        left: 35px;
                        font-size: 1.4em;
                        font-weight: 600;
                        color: #e56385;
                        content: '×';
                        display: inline-block;
                        margin-right: 20px;
                    }

                    .ccm__tab-head__icon-wedge {
                        transition: transform 0.3s ease-out;
                        transform-origin: 16px 6px 0;
                        position: absolute;
                        right: 25px;
                        top: 50%;
                        transform: rotate(0deg);
                        transform: translateY(-50%);

                        > svg {
                            pointer-events: none;
                        }
                    }

                }

                &.checked-5jhk {
                    .ccm__tab-head::before {
                        font-size: 1em;
                        content: '✔';
                        color: #28a834;
                    }
                }

                &.ccm__tabgroup--open {
                    .ccm__tab-head {
                        background-color: #f9f9f9;

                        .ccm__tab-head__icon-wedge {
                            transform: rotate(-180deg);
                        }
                    }

                    .ccm__tab-content {
                        display: flex;
                        @media (max-width: 600px) {
                            flex-direction: column;
                        }
                    }
                }
            }

            .ccm__tab-head {
                color: #333;
                padding: 17px 35px 17px 56px;
                margin: 0;
                font-weight: 600;
                cursor: pointer;
                position: relative;
                transition: background-color 0.5s ease-out;

                &:hover {
                    background-color: #f9f9f9;
                }
            }

            .ccm__tab-content {
                display: none;
                padding: 25px 35px;
                margin: 0;

                h3 {
                    font-size: 18px;
                    margin-bottom: 10px;
                    line-height: 1;
                }

                p {
                    color: #444;
                    margin-bottom: 0;
                }

                .ccm__tab-content__left {
                    @media (max-width: 600px) {
                        margin-bottom: 20px;
                    }

                    .ccm__switch-component {
                        display: flex;
                        margin-right: 35px;
                        align-items: center;

                        > div {
                            font-weight: 600;
                        }
                    }

                    .ccm__switch-group {
                        width: 40px;
                        height: 20px;
                        margin: 0 10px;
                        position: relative;
                    }

                    .ccm__switch {
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: inline-block;
                        width: 40px;
                        height: 20px;

                        input {
                            display: none;

                            &:checked + .ccm__switch__slider {
                                background-color: #28a834;

                                &:before {
                                    -webkit-transform: translateX(20px);
                                    -ms-transform: translateX(20px);
                                    transform: translateX(20px);
                                }
                            }

                            &:focus + .ccm__switch__slider {
                                box-shadow: 0 0 1px #28a834;
                            }
                        }

                        .ccm__switch__slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #ccc;
                            border-radius: 10px;
                            -webkit-transition: 0.4s;
                            transition: 0.4s;

                            &:before {
                                position: absolute;
                                content: '';
                                height: 12px;
                                width: 12px;
                                left: 4px;
                                bottom: 4px;
                                background-color: white;
                                border-radius: 50%;
                                -webkit-transition: 0.4s;
                                transition: 0.4s;
                            }
                        }
                    }
                }

                .ccm__list {
                    &:not(:empty) {
                        margin-top: 30px;
                    }

                    .ccm__list__title {
                        color: #333;
                        font-weight: 600;
                    }

                    ul {
                        margin: 15px 0;
                        padding-left: 0;
                    }
                }
            }
        }
    }

    .ccm__footer {
        padding: 35px;
        background-color: #efefef;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            line-height: normal;
            font-size: 14px;
            transition: background-color 0.5s ease-out;

            border: none;
            padding: 13px;
            min-width: 110px;
            border-radius: 2px;
            cursor: pointer;

            &.consent-submit, &.consent-decline {
                background-color: var(--modalSecondaryButtonColor);
                color: var(--modalSecondaryButtonTextColor);

                &:hover, &:active {
                    background-color: var(--modalSecondaryButtonHoverColor);
                }
            }

            &.consent-given {
                background-color: var(--modalPrimaryButtonColor);
                color: var(--modalPrimaryButtonTextColor);

                &:hover, &:active {
                    background-color: var(--modalPrimaryButtonHoverColor);
                }
            }

            & + button {
                margin-left: 10px;
            }
        }
    }
}
